In [1]:
from __future__ import print_function
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import sys
import os
%matplotlib inline
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
#Checking the env variable
DFdata = os.getenv("DFDATA")
DFdata

'/gws/open/NYCOpenData/nycopendata/data'

In [25]:
df = pd.read_csv(DFdata + '/urvc-2kdr/1414245694/urvc-2kdr')
df.head()

,JURISDICTION NAME,COUNT PARTICIPANTS,COUNT FEMALE,PERCENT FEMALE,COUNT MALE,PERCENT MALE,COUNT GENDER UNKNOWN,PERCENT GENDER UNKNOWN,COUNT GENDER TOTAL,PERCENT GENDER TOTAL,...,COUNT CITIZEN STATUS TOTAL,PERCENT CITIZEN STATUS TOTAL,COUNT RECEIVES PUBLIC ASSISTANCE,PERCENT RECEIVES PUBLIC ASSISTANCE,COUNT NRECEIVES PUBLIC ASSISTANCE,PERCENT NRECEIVES PUBLIC ASSISTANCE,COUNT PUBLIC ASSISTANCE UNKNOWN,PERCENT PUBLIC ASSISTANCE UNKNOWN,COUNT PUBLIC ASSISTANCE TOTAL,PERCENT PUBLIC ASSISTANCE TOTAL
0,Bronx Neighborhood Development Area 001,59,31,0.53,28,0.47,0,0,59,100,...,59,100,20,0.34,39,0.66,0,0,59,100
1,Bronx Neighborhood Development Area 002,7,5,0.71,2,0.29,0,0,7,100,...,7,100,3,0.43,4,0.57,0,0,7,100
2,Bronx Neighborhood Development Area 003,15,12,0.80,3,0.20,0,0,15,100,...,15,100,6,0.40,9,0.60,0,0,15,100
3,Bronx Neighborhood Development Area 004,44,27,0.61,17,0.39,0,0,44,100,...,44,100,13,0.30,31,0.70,0,0,44,100
4,Bronx Neighborhood Development Area 005,25,9,0.36,16,0.64,0,0,25,100,...,25,100,12,0.48,13,0.52,0,0,25,100

In [27]:
#Too many columns obstructed the use of drop() function
df = df[[1,2]]
df.head()

   COUNT PARTICIPANTS  COUNT FEMALE
0                  59            31
1                   7             5
2                  15            12
3                  44            27
4                  25             9

In [36]:
x = df['COUNT PARTICIPANTS']
y = df['COUNT FEMALE']
df.plot(x='COUNT PARTICIPANTS',y='COUNT FEMALE',kind='scatter')

SyntaxError: invalid syntax (<ipython-input-36-ff92a24da1dd>, line 3)